

<h3 align="right"><%= link_to 'О Создателях', symptoms_author_path %></h3>
</tr>
</table></td>
</tr>
</br>
</table></td>
</tr>
<tr>
<td bgcolor="#0b7ca9" class="bot-bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="bottom_addr">&copy; 2014 FirstHelp. All Rights Reserved</td>
</tr>
</table></td>
</tr>
</table>

</body>
</html>