<%= render 'formhead' %>

<h1>Авторы проекта</h1>
<h3>Заслуженные программисты России</h3>
<h3>Да что уж там говорить, это - люди от Бога</h3>
<h3>Они готовы принять благодарность, не сомневаясь, что она последует</h3>
<h3>Оставляйте ваши пожелания, заявки и угрозы по адресу: korvin_94@mail.ru</h3>
<h3>Присылайте все ваши деньги на кошелек WebWoney: wmid 400304173665 </h3>
<h3>Либо на карту Mastercard: 5543-8600-1158-4802 </h3>
<h3>Либо на карту VISA:       4627-1030-0139-6941 </h3>
<h3>В общем, мы ждем... </h3>

</br>
</br>
</br>
</br>
<%= link_to 'На главную', welcome_index_path %>

<%= render 'formbottom' %>