<h1>Здравствуйте, больной!</h1>
<p>Вы готовы к лечению?</p>

<p> Сейчас <%= @time %></p>

<%= text_area_tag(:message, "Впишите свой симптом", size: "24x6") %>

<p>	Скажите ваш <%= link_to "симптом", medic_new_path %></p>
<p>	Пора сказать <%= link_to "до свидания", medic_finish_path %>!</p>