
<h1>Главная страница</h1>



<p> ... </p>
<%= link_to 'База данных симптомов', controller: 'symptoms' %>
<p> ... </p>
<%= link_to 'Определить заболевание', symptoms_firsthelp_path, controller: 'symptoms' %>
<p> ... </p>



