<h1>Боли в пояснице</h1>
<p>	<%= link_to "Заболевания почек", welcome_kidney_path %></p>
<p>	<%= link_to "Заболевания позвоночника", welcome_spine2_path %></p>


<p>	<%= link_to "Назад", welcome_body_path %></p>